## How to use Default Dict to Extract Movie Title by Letters

In [2]:
from collections import defaultdict
import pandas as pd
import requests
from bs4 import BeautifulSoup
print(" set up done")

C:\Users\Admin\Anaconda3\lib\site-packages\requests\__init__.py:91: RequestsDependencyWarning: urllib3 (1.26.5) or chardet (3.0.4) doesn't match a supported version!
  RequestsDependencyWarning)

 set up done

In [3]:
wikiurl="https://en.wikipedia.org/wiki/List_of_Bollywood_films_of_2020"
table_class="wikitable sortable jquery-tablesorter"
response=requests.get(wikiurl)
print(response.status_code)

200

In [5]:
#Parse data from the HTML
soup = BeautifulSoup(response.text, 'html.parser')
indiatable=soup.find('table',{'class':"wikitable"})

In [6]:
df=pd.read_html(str(indiatable))
# convert list to dataframe
df=pd.DataFrame(df[0])
print(df.head())

   Rank                        Title  \
0     1                      Tanhaji
1     2                     Baaghi 3
2     3             Street Dancer 3D
3     4  Shubh Mangal Zyada Saavdhan
4     5                       Malang

                                  Production Company       Distributor  \
0                          Ajay Devgn FFilmsT-Series          AA Films
1  Nadiadwala Grandson EntertainmentFox Star Studios  Fox Star Studios
2                 T-SeriesRemo D'Souza Entertainment          AA Films
3                  T-SeriesColour Yellow Productions          AA Films
4     T-SeriesLuv FilmsNorthern Lights Entertainment    Yash Raj Films

                 Worldwide Gross    Ref.
0  ₹367.65 crore (US$52 million)  [2][3]
1  ₹137.05 crore (US$19 million)  [4][3]
2      ₹97 crore (US$14 million)  [5][3]
3   ₹86.39 crore (US$12 million)  [6][3]
4   ₹84.50 crore (US$12 million)  [7][3]

In [7]:
data = df.drop(["Rank", "Production Company","Distributor","Worldwide Gross","Ref."], axis=1)

In [9]:
data

                         Title
0                      Tanhaji
1                     Baaghi 3
2             Street Dancer 3D
3  Shubh Mangal Zyada Saavdhan
4                       Malang
5                     Chhapaak
6                 Love Aaj Kal
7             Jawaani Jaaneman
8                      Thappad
9                        Panga

In [11]:
titles = ['Tanhaji', 'Baaghi 3', 'Street Dancer 3D', 'Shubh Mangal Zyada Saavdhan', 'Malang','Chhapaak','Love Aaj Kal','Jawaani Jaaneman','Thappad','Panga']

In [13]:
title_by_letter = defaultdict(list)
for title in titles:
    title_by_letter[title[0]].append(title)

## The highest-grossing Bollywood films released in 2020 
## by worldwide box office gross revenue

### Movie title_by_letter:

In [24]:
title_by_letter

defaultdict(list,
            {'T': ['Tanhaji', 'Thappad'],
             'B': ['Baaghi 3'],
             'S': ['Street Dancer 3D', 'Shubh Mangal Zyada Saavdhan'],
             'M': ['Malang'],
             'C': ['Chhapaak'],
             'L': ['Love Aaj Kal'],
             'J': ['Jawaani Jaaneman'],
             'P': ['Panga']})